
/XMasTree/ChristMasTreeTest/bin/Debug/ChristMasTree.dll
/XMasTree/ChristMasTreeTest/bin/Debug/ChristMasTree.pdb
/XMasTree/ChristMasTreeTest/bin/Debug/ChristMasTreeTest.dll
/XMasTree/ChristMasTreeTest/bin/Debug/ChristMasTreeTest.pdb
/XMasTree/ChristMasTreeTest/bin/Debug/nunit.framework.dll
/XMasTree/ChristMasTreeTest/bin/Debug/nunit.framework.xml
/XMasTree/ChristMasTreeTest/obj/Debug/ChristMasTreeTest.csproj.FileListAbsolute.txt
/XMasTree/ChristMasTreeTest/obj/Debug/ChristMasTreeTest.dll
/XMasTree/ChristMasTreeTest/obj/Debug/ChristMasTreeTest.pdb
/XMasTree/ChristMasTreeTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/XMasTree/ChristMasTreeTest/obj/Debug/ResolveAssemblyReference.cache
/XMasTree/ChristMasTreeSpec/obj/Debug/ChristMasTreeSpec.csproj.FileListAbsolute.txt
/XMasTree/ChristMasTreeSpec/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/XMasTree/ChristMasTreeSpec/obj/Debug/ResolveAssemblyReference.cache
/XMasTree/ChristMasTreeSpec/obj/Debug/TempPE/XMasTree.feature.cs.dll
/XMasTree/ChristMasTreeAcceptanceTest/bin/Debug/ChristMasTree.dll
/XMasTree/ChristMasTreeAcceptanceTest/bin/Debug/ChristMasTree.pdb
/XMasTree/ChristMasTreeAcceptanceTest/bin/Debug/ChristMasTreeAcceptanceTest.dll
/XMasTree/ChristMasTreeAcceptanceTest/bin/Debug/ChristMasTreeAcceptanceTest.pdb
/XMasTree/ChristMasTreeAcceptanceTest/bin/Debug/Coverage.Log
/XMasTree/ChristMasTreeAcceptanceTest/bin/Debug/nunit.framework.dll
/XMasTree/ChristMasTreeAcceptanceTest/bin/Debug/nunit.framework.xml
/XMasTree/ChristMasTreeAcceptanceTest/obj/Debug/ChristMasTreeAcceptanceTest.csproj.FileListAbsolute.txt
/XMasTree/ChristMasTreeAcceptanceTest/obj/Debug/ChristMasTreeAcceptanceTest.dll
/XMasTree/ChristMasTreeAcceptanceTest/obj/Debug/ChristMasTreeAcceptanceTest.pdb
/XMasTree/ChristMasTreeAcceptanceTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/XMasTree/ChristMasTree/bin/Debug/.gitignore
/XMasTree/ChristMasTree/bin/Debug/ChristMasTree.pdb
/XMasTree/ChristMasTree/obj/Debug/ChristMasTree.csproj.FileListAbsolute.txt
/XMasTree/ChristMasTree/obj/Debug/ChristMasTree.dll
/XMasTree/ChristMasTree/obj/Debug/ChristMasTree.pdb
/XMasTree/ChristMasTree/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache